{% load static %}
{% load my_filters %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>CozaStore</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ logo2.logo.url }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
	<style>
		button:hover {
			background-color: rgba(183, 188, 192, 0.889);
			color: #fff; 
		}
	</style>
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v3">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop p-l-45">
					
					<!-- Logo desktop -->		
					<a href="" class="logo">
						<img src="{{ logo2.logo.url }}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="{% url 'home' %}">{% trans 'Home' %}</a>
								<ul class="sub-menu">
									<li><a href="{% url 'home' %}">{% trans 'Homepage 1' %}</a></li>
									<li><a href="{% url 'home2' %}">{% trans 'Homepage 2' %}</a></li>
									<li><a href="{% url 'home3' page_count %}">{% trans 'Homepage 3' %}</a></li>
								</ul>
							</li>

							<li>
								<a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="{% url 'features' %}">{% trans 'Features' %}</a>
							</li>

							<li>
								<a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
							</li>

							<li>
								<a href="{% url 'about' %}">{% trans 'About' %}</a>
							</li>

							<li>
								<a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m h-full">	
						<div class="flex-c-m h-full p-l-18 p-r-25 bor5">
							<form id="languageForm" action="{% url 'set_language' %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ request.path }}">
								<div class="right-top-bar flex-w h-full">
									<button type="submit" name="language" value="en" style="color: rgb(246, 248, 249); border-radius: 5px; border: 1px solid rgb(0, 2, 4); margin-right: 5px;">
										<a class="flex-c-m trans-04 p-lr-25">
											EN
										</a>
									</button>
									
									<button type="submit" name="language" value="az" style="color: rgba(246, 248, 249); border-radius: 5px; border: 1px solid rgb(0, 2, 4); margin-left: 5px;">
										<a class="flex-c-m trans-04 p-lr-25">
											AZ
										</a>
									</button>
								</div>
							</form>
						</div>
												
						<div class="flex-c-m h-full p-r-25 bor6">
							<div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>
						</div>
							
						<div class="flex-c-m h-full p-lr-19">
							<div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
								<i class="zmdi zmdi-menu"></i>
							</div>
						</div>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="{% url 'home' %}"><img src="{{ logo2.logo.url }}" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
				<div class="flex-c-m h-full p-r-5">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="{% url 'home' %}">{% trans 'Home' %}</a>
					<ul class="sub-menu-m">
						<li><a href="{% url 'home' %}">{% trans 'Homepage 1' %}</a></li>
						<li><a href="{% url 'home2' %}">{% trans 'Homepage 2' %}</a></li>
						<li><a href="{% url 'home3' page_count %}">{% trans 'Homepage 3' %}</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="{% url 'shop' %}">{% trans 'Shop' %}</a>
				</li>

				<li>
					<a href="{% url 'features' %}" class="label1 rs1" data-label1="hot">{% trans 'Features' %}</a>
				</li>

				<li>
					<a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
				</li>

				<li>
					<a href="{% url 'about' %}">{% trans 'About' %}</a>
				</li>

				<li>
					<a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<button class="flex-c-m btn-hide-modal-search trans-04">
				<i class="zmdi zmdi-close"></i>
			</button>

			<form class="container-search-header">
				<div class="wrap-search-header">
					<input class="plh0" type="text" name="search" placeholder="Search...">

					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
				</div>
			</form>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="wrap-sidebar js-sidebar">
		<div class="s-full js-hide-sidebar"></div>

		<div class="sidebar flex-col-l p-t-22 p-b-25">
			<div class="flex-r w-full p-b-30 p-r-27">
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
				<ul class="sidebar-link w-full">
					<li class="p-b-13">
						<a href="{% url 'home' %}" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'Home' %}
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'My Wishlist' %}
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'My Account' %}
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'Track Oder' %}
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'Refunds' %}
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							{% trans 'Help & FAQs' %}
						</a>
					</li>
				</ul>

				<div class="sidebar-gallery w-full p-tb-30">
					<span class="mtext-101 cl5">
						@ CozaStore
					</span>

					<div class="flex-w flex-sb p-t-36 gallery-lb">
						<!-- item gallery sidebar -->
						{% for image in gallery_images %}
							<div class="wrap-item-gallery m-b-10">
								<a class="item-gallery bg-img1" href="{{ image.image.url }}" data-lightbox="gallery" 
								style="background-image: url('{{ image.image.url }}');"></a>
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="sidebar-gallery w-full">
					<span class="mtext-101 cl5">
						{% trans 'About Us' %}
					</span>

					<p class="stext-108 cl6 p-t-27">
						{{ aboutus|safe }}
					</p>
				</div>
			</div>
		</div>
	</aside>


	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					{% trans 'Your Cart' %}
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					{% for product in cart_products %}
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{ product.product.image.url }}" alt="IMG">
						</div>

						<div class="header-cart-item-txt ">  <!--p-t-8-->
							<a href="{% url 'single-product' product.product.slug %}" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{ product.product.name }} <br> {{ product.color }} | {{ product.size }}
							</a>

							<span class="header-cart-item-info">
								{{ product.quantity }} x ${{ product.product.price }}
							</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						{% trans 'Total' %} ${{ sum_ }}
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="{% url 'features' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							{% trans 'View Cart' %}
						</a>

						<a href="{% url 'features' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							{% trans 'Check Out' %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/slide-05.jpg' %});" data-thumb="{% static 'images/thumb-01.jpg' %}" data-caption="{% trans 'Women’s Wear' %}">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									{% trans 'Women Collection' %} 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									{% trans 'New arrivals' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="{% url 'shop' %}?category={% trans 'women' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/slide-06.jpg' %});" data-thumb="{% static 'images/thumb-02.jpg' %}" data-caption="{% trans 'Men’s Wear' %}">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									{% trans 'Men New-Season' %}
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									{% trans 'Jackets & Coats' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="{% url 'shop' %}?category={% trans 'men' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/slide-07.jpg' %});" data-thumb="{% static 'images/thumb-03.jpg' %}" data-caption="{% trans 'Men’s Wear' %}">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									{% trans 'Men Collection' %} 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									{% trans 'NEW SEASON' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="{% url 'shop' %}?category={% trans 'men' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-slick1-dots p-lr-10"></div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-95 p-b-55">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-04.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category={% trans 'women' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Women' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'New Trend' %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-05.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category={% trans 'men' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Men' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'New Trend' %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-07.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category={% trans 'watches' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Watches' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'Spring' %} 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-08.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category={% trans 'bags' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Bags' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'Spring' %} 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-09.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category={% trans 'accessories' %}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Accessories' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'Spring' %} 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					{% trans 'Product Overview' %}
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'all' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'all' %}how-active1{% endif %}" data-filter="*">
						{% trans 'All Products' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'women' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'women' %}how-active1{% endif %}" data-filter=".women">
						{% trans 'Women' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'men' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'men' %}how-active1{% endif %}" data-filter=".men">
						{% trans 'Men' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'bags' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'bags' %}how-active1{% endif %}" data-filter=".bag">
						{% trans 'Bags' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'shoes' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'shoes' %}how-active1{% endif %}" data-filter=".shoes">
						{% trans 'Shoes' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category={% trans 'watches' %}{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'watches' %}how-active1{% endif %}" data-filter=".watches">
						{% trans 'Watches' %}
					</a>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 {% trans 'Filter'%}
					</div>

					<a href="?category=all" class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4">
						<i class='bx bx-reset cl2 m-r-6 fs-15 trans-04'></i>
						{% trans 'Reset'%}
					</a>
					
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						{% trans 'Search'%}
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">      <!-- "dis-none panel-search w-full p-t-10 p-b-15" -->
					<!-- <div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	 -->
					<form class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search..." value="{% if search %}{{ search }}{% endif %}">
					</form>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Sort By' %}
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=default{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'default' %}filter-link-active{% endif %}">
										{% trans 'Default' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=popularity{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'popularity' %}filter-link-active{% endif %}">
										{% trans 'Popularity' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=rating{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'rating' %}filter-link-active{% endif %}">
										{% trans 'Average rating' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=newness{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'newness' %}filter-link-active{% endif %}">
										{% trans 'Newness' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=lowtohigh{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'lowtohigh' %}filter-link-active{% endif %}">
										{% trans 'Price: Low to High' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=hightolow{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'hightolow' %}filter-link-active{% endif %}">
										{% trans 'Price: High to Low' %}
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Price' %}
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price={% trans 'all' %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == 'all' %}filter-link-active{% endif %}">
										{% trans 'All' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$0.00-$50.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.price == '$0.00-$50.00' %}filter-link-active{% endif %}">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$50.00-$100.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$50.00-$100.00' %}filter-link-active{% endif %}">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$100.00-$150.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$100.00-$150.00' %}filter-link-active{% endif %}">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$150.00-$200.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$150.00-$200.00' %}filter-link-active{% endif %}">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=gte-$200.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$200.00' %}filter-link-active{% endif %}">
										$200.00+
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Color' %}
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'black' %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'black' %}filter-link-active{% endif %}">
										{% trans 'Black' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'blue' %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'blue' %}filter-link-active{% endif %}">
										{% trans 'Blue' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'grey' %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.color == 'grey' %}filter-link-active{% endif %}">
										{% trans 'Grey' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'green' %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'green' %}filter-link-active{% endif %}">
										{% trans 'Green' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'red' %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'red' %}filter-link-active{% endif %}">
										{% trans 'Red' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color={% trans 'white' %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'white' %}filter-link-active{% endif %}">
										{% trans 'White' %}
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Tags' %}
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag={% trans 'fashion'|get_slugifyer %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'fashion' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Fashion' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag={% trans 'lifestyle'|get_slugifyer %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'lifestyle' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Lifestyle' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag={% trans 'denim'|get_slugifyer %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'denim' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Denim' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag={% trans 'streetstyle'|get_slugifyer %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'streetstyle' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Streetstyle' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag={% trans 'crafts'|get_slugifyer %}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'crafts' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Crafts' %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				{% for product in products %}
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0 {% if product.is_new == True %}label-new{% endif %}" data-label="New">
								<img src="{{ product.image.url }}" alt="IMG-PRODUCT">

								<a href="{% url 'single-product' product.slug %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">  <!--js-show-modal1-->
									{% trans 'Quick View' %}
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="{% url 'single-product' product.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{ product.name }}
									</a>

									<span class="stext-105 cl3">
										${{ product.price }}
									</span>
								</div>

								{% if product.added_to_whishlist == False %}
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addwish({{ product.id }})">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</a>
									</div>
								{% else %}
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 js-addedwish-b2" onclick="addwish({{ product.id }})">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				{% if more_items is True %}
				<a href="{% url 'home3' page_count %}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					{% trans 'Load More' %}
				</a>
				{% endif %}
			</div>
			<!-- Pagination -->
			<!-- <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
				{% for i in page_obj.paginator.page_range %}
					{% if page_obj.number == i %}
						<a href="?page={{ i }}" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							{{ i }}
						</a>
					{% else %}
						<a href="?page={{ i }}" class="flex-c-m how-pagination1 trans-04 m-all-7">
							{{ i }}
						</a>
					{% endif %}
				{% endfor %}
			</div> -->
		</div>
	</section>

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans 'Categories' %}
					</h4>
	
					<ul>
						<li class="p-b-10">
							<a href="{% url 'shop' %}?category={% trans 'women' %}" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Women' %}
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="{% url 'shop' %}?category={% trans 'men' %}" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Men' %}
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="{% url 'shop' %}?category={% trans 'shoes' %}" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Shoes' %}
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="{% url 'shop' %}?category={% trans 'watches' %}" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Watches' %}
							</a>
						</li>
					</ul>
				</div>
	
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans 'Help' %}
					</h4>
	
					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Track Order' %}
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Returns' %} 
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'Shipping' %}
							</a>
						</li>
	
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								{% trans 'FAQs' %}
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans 'GET IN TOUCH' %}
					</h4>
	
					<p class="stext-107 cl7 size-201">
						{{ footer_info.info }}
					</p>
	
					<div class="p-t-27">
						<a href="{{ footer_info.facebook }}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>
	
						<a href="{{ footer_info.instagram }}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>
	
						<a href="{{ footer_info.pinterest }}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						{% trans 'Newsletter' %}
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								{% trans 'Subscribe' %}
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>
	
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
					</a>
	
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
					</a>
	
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
					</a>
	
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var wishTag = $(this);

			$(this).on('click', function() {
				if (wishTag.hasClass('js-addedwish-b2')) {
					
					var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
					swal(nameProduct, "is discarded from wishlist !", "error");
					$(this).removeClass('js-addedwish-b2');

				} else {
					
					var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
					swal(nameProduct, "is added to wishlist !", "success");
					$(this).addClass('js-addedwish-b2');     

				}
			});
    	});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>
	<script>
		function addwish(product_id) {
			$.ajax({
				headers: {'content-type': 'application/json', 'accept': 'application/json', 'X-CSRFToken': '{{ csrf_token }}'},
				url: '/cozastore/change_wish/' + product_id + '/',
				method: 'POST',
				data: JSON.stringify({
					id: product_id,
				}),
				success: function (data) {
					
					console.log('Success:', data);

					/*var addedToWishlist = data.added_to_wishlist;

					if (addedToWishlist===true) {
						var whsihTag = document.getElementById('whishlist-cart-icon');
						var whishTagValue = whsihTag.getAttribute('data-notify');

						whishTagValue = parseInt(whishTagValue) + 1;
						whsihTag.setAttribute('data-notify', whishTagValue);
					} else {
						var whsihTag = document.getElementById('whishlist-cart-icon');
						var whishTagValue = whsihTag.getAttribute('data-notify');

						whishTagValue = parseInt(whishTagValue) - 1;
						whsihTag.setAttribute('data-notify', whishTagValue);
					}*/
				},
				error: function (data) {
					console.log('Error', data);
				} 
			});
		}
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>