{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load i18n %}
{% block content %}

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					{% trans 'Your Cart' %}
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					{% for product in cart_products %}
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{ product.product.image.url }}" alt="IMG">
						</div>

						<div class="header-cart-item-txt ">  <!--p-t-8-->
							<a href="{% url 'single-product' product.product.slug %}" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{ product.product.name }} <br> {{ product.color }} | {{ product.size }}
							</a>

							<span class="header-cart-item-info">
								{{ product.quantity }} x ${{ product.product.price }}
							</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						{% trans 'Total' %}: ${{ sum_ }}
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="{% url 'features' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							{% trans 'View Cart' %}
						</a>

						<a href="{% url 'features' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							{% trans 'Check Out' %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

		

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url({% static 'images/slide-01.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans 'Women Collection 2023' %}
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans 'NEW SEASON' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="{% url 'shop' %}?category=women" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans 'Men New-Season' %}
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans 'Jackets & Coats' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="{% url 'shop' %}?category=men" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									{% trans 'Men Collection 2023' %}
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									{% trans 'New arrivals' %}
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="{% url 'shop' %}?category=men" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									{% trans 'Shop Now' %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category=women" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Women' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'Spring 2023' %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category=men" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Men' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'Spring 2023' %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">

						<a href="{% url 'shop' %}?category=accessories" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									{% trans 'Accessories' %}
								</span>

								<span class="block1-info stext-102 trans-04">
									{% trans 'New Trend' %}
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									{% trans 'Shop Now' %}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					{% trans 'Product Overview' %}
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a href="?{% if search %}search={{search}}&{% endif %}category=all{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'all' %}how-active1{% endif %}" data-filter="*">
						{% trans 'All Products' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category=women{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'women' %}how-active1{% endif %}" data-filter=".women">
						{% trans 'Women' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category=men{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'men' %}how-active1{% endif %}" data-filter=".men">
						{% trans 'Men' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category=bags{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'bags' %}how-active1{% endif %}" data-filter=".bag">
						{% trans 'Bags' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category=shoes{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'shoes' %}how-active1{% endif %}" data-filter=".shoes">
						{% trans 'Shoes' %}
					</a>

					<a href="?{% if search %}search={{search}}&{% endif %}category=watches{% if sort_by %}&sort_by={{sort_by}}{% endif %}{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {% if request.GET.category == 'watches' %}how-active1{% endif %}" data-filter=".watches">
						{% trans 'Watches' %}
					</a>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 {% trans 'Filter'%}
					</div>

					<a href="?category=all" class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4">
						<i class='bx bx-reset cl2 m-r-6 fs-15 trans-04'></i>
						{% trans 'Reset'%}
					</a>
					
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						{% trans 'Search'%}
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">      <!-- "dis-none panel-search w-full p-t-10 p-b-15" -->
					<!-- <div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	 -->
					<form class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search..." value="{% if search %}{{ search }}{% endif %}">
					</form>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Sort By' %}
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=default{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'default' %}filter-link-active{% endif %}">
										{% trans 'Default' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=popularity{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'popularity' %}filter-link-active{% endif %}">
										{% trans 'Popularity' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=rating{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'rating' %}filter-link-active{% endif %}">
										{% trans 'Average rating' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=newness{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'newness' %}filter-link-active{% endif %}">
										{% trans 'Newness' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=lowtohigh{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'lowtohigh' %}filter-link-active{% endif %}">
										{% trans 'Price: Low to High' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}sort_by=hightolow{% if price %}&price={{ price }}{% endif %}{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.sort_by == 'hightolow' %}filter-link-active{% endif %}">
										{% trans 'Price: High to Low' %}
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Price' %}
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=all{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == 'all' %}filter-link-active{% endif %}">
										{% trans 'All' %}
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$0.00-$50.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.price == '$0.00-$50.00' %}filter-link-active{% endif %}">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$50.00-$100.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$50.00-$100.00' %}filter-link-active{% endif %}">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$100.00-$150.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$100.00-$150.00' %}filter-link-active{% endif %}">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=$150.00-$200.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$150.00-$200.00' %}filter-link-active{% endif %}">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}price=gte-$200.00{% if color %}&color={{ color }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.price == '$200.00' %}filter-link-active{% endif %}">
										$200.00+
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Color' %}
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=black{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'black' %}filter-link-active{% endif %}">
										{% trans 'Black' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=blue{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'blue' %}filter-link-active{% endif %}">
										{% trans 'Blue' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=grey{% if tag %}&tag={{ tag }}{% endif %}"  class="filter-link stext-106 trans-04 {% if request.GET.color == 'grey' %}filter-link-active{% endif %}">
										{% trans 'Grey' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=green{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'green' %}filter-link-active{% endif %}">
										{% trans 'Green' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=red{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'red' %}filter-link-active{% endif %}">
										{% trans 'Red' %}
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}color=white{% if tag %}&tag={{ tag }}{% endif %}" class="filter-link stext-106 trans-04 {% if request.GET.color == 'white' %}filter-link-active{% endif %}">
										{% trans 'White' %}
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								{% trans 'Tags' %}
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag=fashion" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'fashion' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Fashion' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag=lifestyle" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'lifestyle' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Lifestyle' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag=denim" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'denim' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Denim' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag=streetstyle" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'streetstyle' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Streetstyle' %}
								</a>

								<a href="?{% if search %}search={{search}}&{% endif %}{% if category %}category={{category}}&{% endif %}{% if sort_by %}sort_by={{ sort_by }}&{% endif %}{% if price %}price={{ price }}&{% endif %}{% if color %}color={{ color }}&{% endif %}tag=crafts" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" {% if request.GET.tag == 'crafts' %} style="border-color: #4272d7; color: #4272d7;" {% endif %}>
									{% trans 'Crafts' %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				<!-- {% get_products 0 6 1 as product %} -->
				{% for i in products %}
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{ i.image.url }}" alt="IMG-PRODUCT">

								<a href="{% url 'single-product' i.slug %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">  <!-- js-show-modal1 -->
									{% trans 'Quick View' %}
								</a>
							</div>
							
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="{% url 'single-product' i.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{ i.name | filter_ }}
									</a>

									<span class="stext-105 cl3">
										${{ i.price }}
									</span>
								</div>
								{% if i.added_to_whishlist == False %}
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addwish({{ i.id }})">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</a>
									</div>
								{% else %}
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 js-addedwish-b2" onclick="addwish({{ i.id }})">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<!-- Pagination -->
			<div style="text-align: center;" class='mt-5 mb-5'>
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">{% trans 'Previous' %}</a>
				{% endif %}
			
				{% for i in page_obj.paginator.page_range %}
				{% if page_obj.number == i %}
				<a href="?page={{ i }}" class="active btn btn-primary" >{{ i }}</a>
				{% else %}
				<a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a>
				{% endif %}
				{% endfor %}
			
				{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">{% trans 'Next' %}</a>
				{% endif %}
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				{% if more_items is True %}
				<a href="{% url 'home' page_count %}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					{% trans 'Load More' %}
				</a>
				{% endif %}
			</div>
		</div>
	</section>


	<script>
		function addwish(product_id) {
			$.ajax({
				headers: {'content-type': 'application/json', 'accept': 'application/json', 'X-CSRFToken': '{{ csrf_token }}'},
				url: '/cozastore/change_wish/' + product_id + '/',
				method: 'POST',
				data: JSON.stringify({
					id: product_id,
				}),
				success: function (data) {
					
					console.log('Success:', data);

					var addedToWishlist = data.added_to_wishlist;

					if (addedToWishlist===true) {
						var whsihTag = document.getElementById('whishlist-cart-icon');
						var whishTagValue = whsihTag.getAttribute('data-notify');

						whishTagValue = parseInt(whishTagValue) + 1;
						whsihTag.setAttribute('data-notify', whishTagValue);
					} else {
						var whsihTag = document.getElementById('whishlist-cart-icon');
						var whishTagValue = whsihTag.getAttribute('data-notify');

						whishTagValue = parseInt(whishTagValue) - 1;
						whsihTag.setAttribute('data-notify', whishTagValue);
					}
				},
				error: function (data) {
					console.log('Error', data);
				} 
			});
		}
	</script>

{% endblock %}