{%  load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CozaStore</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- <link rel="icon" href="https://cdn.create.vista.com/api/media/small/440588268/stock-video-turquoise-drying-clothes-icon-isolated-on-blue-background-clean-shirt-wash-clothes-on-a-rope?videoStaticPreview=true&token="> -->
        
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mainlogin.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> -->

        <style>
            .btn-google {
            background-color: #007bff;
            color: #fff;
            border: 2px solid #007bff;
            border-radius: 50px;
            padding: 5px 10px; 
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s, color 0.3s;
            }

            .btn-google:hover {
            background-color: #0056b3;
            color: #fff;
            text-decoration: none;
            }

        </style>
    </head>

    <body>
        <form id="languageForm" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="container-menu-desktop">
                <div class="top-bar">
                    <div class="content-topbar flex-sb-m h-full container">
                        
                        <div class="left-top-bar flex-w h-full">
                            <button type="submit" name="language" value="en" style="color: rgba(240, 248, 255, 0.700);">
                                <a class="flex-c-m trans-04 p-lr-25">
                                    EN
                                </a>
                            </button>
                            <button type="submit" name="language" value="az" style="color: rgba(240, 248, 255, 0.700);">
                                <a class="flex-c-m trans-04 p-lr-25">
                                    AZ
                                </a>
                            </button>
                        </div>
                        <!-- <div class="left-top-bar flex-w h-full">
                            <button type="submit" name="language" value="az" style="color: rgba(240, 248, 255, 0.700);">
                                <a class="flex-c-m trans-04 p-lr-25">
                                    AZ
                                </a>
                            </button>
                        </div>                         -->
                    </div>
                </div>	
            </div>
        </form>

        <div class="main">
            <form method="post">
                <h1>CozaStore</h1>
                {% csrf_token %}
                
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <div class="input-box">
                    {{ form.username }}
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    {{ form.password }}
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="remember-forgot">
                    <label for="remember-me-checkbox">
                        <input type="checkbox" id="remember-me-checkbox">{% trans 'Remember me' %}.
                    </label>
                    <a href="#">{% trans 'Forgot password?' %}</a>
                    <br>
                </div>
                <br>
                <button type="submit" name="login", class="btn">{% trans 'Login' %}</button>            
            </form>
            <br>
            <div style="width: 40%;">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next=/cozastore/home/" class="btn btn-google">
                <i class="fa fa-google"></i> {% trans 'Login with Google' %}
                </a>
            </div>
            
            
            <div class="register-link">
                <p>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans 'Register' %}</a></p>
                <br><hr><br>
                <button type="submit" onclick="location.href='{% url 'home' %}'">{% trans 'Continue without login' %}</button>
            </div>
        </div>
    </body>
</html>
